<%= form_tag("/checkout", method: "post") do %>
  <ul>
    <li>
      <label for="product">Watermelons</label>
      <input type="number" required min="0" value="" name="product">
    </li>
  </ul>
  <input type="submit" value="Place Order">  
<% end  %>
